name: Build APK
on: [workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup
      run: |
        npm ci
        npm run build
        
    - name: Create Android Project
      run: |
        # Remove android folder if exists
        rm -rf android
        
        # Install Capacitor and create Android project
        npm install @capacitor/cli @capacitor/core @capacitor/android
        npx cap add android
        npx cap sync android
        
    - name: Build APK
      run: |
        cd android
        chmod +x gradlew
        ./gradlew assembleDebug
        
    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: si-nsa-srp.apk
        path: android/app/build/outputs/apk/debug/app-debug.apk